* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #e7eee8;
}

.header{
    background-color: rgb(236, 243, 243);
    border-radius: 10px;
    margin-top: 15px;
}

.workfield{
   
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    height: 87vh;
}

.emblem {
    height: 50px;
    padding: 10px 22px;
}

.menu{    
    width: 17vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: rgb(233, 241, 241);;
    border-radius: 10px
}

.resultfield{    
    width: 63vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 87vh;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: rgb(233, 241, 241);
}

.workersmenu{
    overflow: scroll;    
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 87vh;
    background-color: rgb(233, 241, 241);
    border-radius: 10px;
}

.button {
    display: inline-block;
    color: white;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#e27f29, #f78b2d) #e27f29;
    transition: 0.2s;
    margin: 10px;
} 
  
.button:hover { 
    background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}

.button:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500; 
}
  
  
.worker__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 20px;
   
}

.worker__name{
    margin-bottom: 10px;
}
.worker__info{
    display: none;
    flex-direction: column;
    align-items: left;
}

.worker__inf{
    display: flex;
}

.worker__button:hover {
    height: 100px;
}

.worker__button:hover .worker__info {
    display: flex;
}
